<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trifarm_app"
        tools:targetApi="31">



        <activity
            android:name=".srceen.Product_RecyclerView"
            android:exported="false" />
        <activity
            android:name=".srceen.ProductDetail"
            android:exported="false" />

        <activity
            android:name=".srceen.Detail"
            android:exported="false" />
        <activity
            android:name=".srceen.Login"
            android:exported="false" />
        <activity
            android:name=".srceen.SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".srceen.UploadCategory"
            android:exported="false" />
        <activity
            android:name=".srceen.UploadProduct"
            android:exported="false" />
        <activity
            android:name=".srceen.Splash"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>